<div>
    <p>
  Hello, {{title}}!
  </p>
  <ul>
    <li><a routerLink='/' routerLinkActive="link-active">Home</a></li>
    <li><a routerLink='/people' routerLinkActive="link-active">People</a></li>
    <li><a routerLink='/new' routerLinkActive="link-active">New Person</a></li>
    <!-- <li><a routerLink='/details/1' routerLinkActive="link-active">Person 1</a></li> -->
    <li><a routerLink='/virhe' routerLinkActive="link-active">Not gonna work...</a></li>
  </ul>
  <router-outlet></router-outlet>
  </div>